version: "3.9"

services:

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    networks:
      - seedling

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      BACKEND_URL: "http://backend:8000"
    networks:
      - seedling

networks:
  seedling:
    driver: bridge
